.chatContainer {
  display: flex;
  height: 100vh;
  margin-top: 25px;
  border-radius: 8px;
  width: 100%;
  background-color: #4c74bb;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #444;
  overflow-y: auto;
  background-color: #314c79;
  padding: 20px;
}

.sidebar h3 {
  color: #fff;
}

.userList {
  list-style: none;
  padding: 0;
}

.userItem {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #333;
  color: #34c294;
}

.userItem:hover {
  background-color: #444;
}

.messagesContainer {
  width: 70%;
  padding: 20px;
  color: #fff;
}

.messagesContainer h3 {
  color: #fff;
}

.messages {
  max-height: 70vh;
  overflow-y: auto;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
  background-color: #2a2a2a;
}

.messageSender {
  font-weight: bold;
  color: #34c294;
}

.messageDate {
  color: #888;
  font-size: 0.8rem;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.sendButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #34c294;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0b7e59;
}
