.followersPosts {
  margin-top: 25px;
}

.posts {
  padding: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #314c79;
  color: white;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.postAuthorInfo {
  display: flex;
  flex-direction: column;
}

.post h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.post p {
  margin: 10px 0;
}

.postFooter {
  display: flex;
  align-items: center;
}

.post small {
  color: #888;
}

.commentToggleButton {
  background-color: #34c294;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 20px;
}

.commentToggleButton:hover {
  background-color: #0b7e59;
}

.comments {
  margin-top: 10px;
  padding-left: 30px;
  border-left: 2px solid #ddd;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.comment:last-child {
  border-bottom: none;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentAuthorInfo {
  display: flex;
  flex-direction: column;
}

.commentBody {
  margin-bottom: 10px;
}

.commentFooter {
  display: flex;
  align-items: center;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: #c82333;
}

.addComment {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.addCommentInput {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addCommentButton {
  background-color: #34c294;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  width: 20%;
}

.addCommentButton:hover {
  background-color: #0b7e59;
}

.editCommentForm {
  display: flex;
  align-items: center;
}

.editCommentInput {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.updateButton,
.cancelButton {
  background-color: #34c294;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.cancelButton {
  background-color: #dc3545;
}

.updateButton:hover,
.cancelButton:hover {
  opacity: 0.9;
}

.editCommentButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.editButton {
  background-color: #34c294;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.editButton:hover {
  background-color: #0b7e59;
}
