.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #314c79;
  color: white;
  text-align: center;
}

.title {
  font-size: 6rem;
  margin: 0;
}

.message {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #34c294;
}
